.slider {
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.slider::-webkit-scrollbar {
  display: none;
}

.focus-window {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 76px;
  height: 76px;
  border-radius: 9999px;
  border: 3px solid #facc15;
  pointer-events: none;
  z-index: 10;
}
