.swiper {
  position: absolute;
  bottom: 0;
  width: 500px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.128);
}

.swiper-slide {
  max-width: 120px;
}
.swiper-slide-active {
  max-width: 150px;
}

.swiper-slide img {
  max-width: 120px;
  object-fit: cover;
}
.swiper-slide-active img {
  max-width: 150px;
  object-fit: cover;
}
